.item {
  background-color: #191d25;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  padding: 36px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container>.item:first-child {
  background: linear-gradient(89.16deg, #06f, #00a3ff)
}

.container>.item:last-child {
  background: linear-gradient(89.16deg, #2ba517, #68d811)
}

.item.blue {
  background: linear-gradient(89.16deg, #06f, #00a3ff)
}

.item.green {
  background: linear-gradient(89.16deg, #2ba517, #68d811)
}

.item-counter-container {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.item-counter {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  margin-right: 18px;
}

.item-description {
  font-size: 17px;
  line-height: 25px;
  text-align: justify;
}